@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/layout/_Layout.cshtml";
}

     <section class="sidebar"> 
           
    <div class="box box-primary" id="contenedor">

            <form role="form" action="/Admin/AltUser" method="post" id="AdminUser" >

              <div class="box-body">
                  <div id="mensaje" style="display:none"> </div>
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" required class="form-control" id="Nombre" name="NombreUsuario" placeholder="Ejemplo: Manuel" maxlength="20" pattern="[A-Za-z0-9]{3,20}" title="Ingresa valores de la a-z y numeros">
                </div>
                <div class="form-group">
                  <label for="Password">Contraseña</label>
                  <input type="password" required class="form-control" id="Password" name="Llave" placeholder="Ejemplo:Abc123"  maxlength="10" pattern="[A-Za-z0-9]{6,10}" title="Ingresa valores de la a-z y numeros" />
                </div>
                  <div class="form-group">
                  <label for="ConfirmPass">Confirmar Contraseña</label>
                  <input type="password" required class="form-control" id="ConfirmPass" name="Llave" placeholder="Ejemplo:Abc123"  maxlength="10" pattern="[A-Za-z0-9]{6,10}" title="Ingresa valores de la a-z y numeros" />
                </div>
                 <div class="form-group">
                  <label for="Almacen" class="control-label col-sm-2" >Almacen</label>
                  <div class="col-sm-10">
                    <select class="selectpicker" id="Almacen" name="Almacen" required>
                        <option value="">Seleccione almacén</option>
                        <option value="SJI">Suc. SJI</option>
                        <option value="Penuelas">Suc. Peñuelas</option>
                        <option value="Menchaca">Suc. Menchaca</option>
                    </select> 
                   </div>
                </div>
                
              </div>

              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
           </div>
         </section>


     
        @Scripts.Render("~/Scripts/AltaUsuarios")
        <!-- JS selectpicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <!-- CSS selectpicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">