@{
    ViewBag.Title = "Ayuda";
    Layout = "~/Views/layout/_Layout.cshtml";
}
<div class="jumbotron text-center">
    <h1>Ayuda</h1>
    <h2>Informacion sobre esta app</h2>
    <p class="text-justify">
        Esta es una aplicación sencilla para administrar el inventario de un pequeño negocio con tres almacenes. <br />
        El inventario puede darse de alta con un usuario asociado a cualquier almacén y un usuario no puede estar asociado a más de una almacén. <br />
        El usuario puede dar de alta mercancía en el inventario, puede transferir esa mercancía a otra almacén o bien modificar la existencia del producto en base a la venta. <br />
        El usuario también puede consultar el historial de movimientos del inventario en base a ciertos parámetros como fecha, almacén, venta nombre del producto, etc.<br />
        Sólo el usuario administrador o admin puede gestionar los usuarios.
        <br /> <br />
        Las tecnologías utilizadas para el desarrollo de ésta aplicación son: ASP .NET Framework, Entity Framework, Razor, jQuery, Bootstrap y algunas otras librerias de javascript como sweetalert.js, waitMe.js y jquery.dataTables para mostrar información. La base de datos se encuentra en SSQL Server.
    </p>
</div>

